body{
    background-image: url("../img/bg.png");
    background-size: 600px;
    /*animation-name: background-move;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 7s;*/
}

@keyframes background-move {
    from {
        background-position-x: 0px;
        background-position-y: 0px;
    }
    to {
        background-position-x: 600px;
        background-position-y: 640px;
    }
}

.container{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: solid;
    border-radius: 12px;
    min-height: 1040px;
    background-image: url("../img/container_bg.png");
    background-repeat: no-repeat;
    background-size: 600px;
    background-position-x: 424px;
    overflow: hidden;
}

.container h3 , .container h4{
    text-align: center;
    color: #ff5f66;
    font-size: 30px;
    text-shadow: 	0px 2px 3px black, 
					2px 0px 3px black, 
					0px -2px 3px black, 
					-2px 0px 3px black, 
					0px 2px 3px black, 
					2px 0px 3px black, 
					0px -2px 3px black, 
					-2px 0px 3px black;
    font-weight: bold;
    letter-spacing: 5px;

}

.container h4 {
    font-size: 20px;
}

.precent_download{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 63px;
    height: 166px;
}

.precent{
    float: left;
    text-align: center;
    padding-top: 9px;
}

.download{
    float: right;
    text-align: center;
}

.download_btn{
    border: solid 3px black;
    border-radius: 17px;
    height: 28px;
    background-color: #B10404;
    color: white;
    font-size: 16px;
    padding-top: 8px;
    transition: background-color 0.3s;
}
.download_btn:hover{
    background-color: #006993;
}

a:link, a:visited {
   text-decoration: none;
}
a {outline : none;}


.clear{
    width: 100%;
    height: 10px;
}

.last_activity{
  margin: auto;
  width: 492px;
}

.last_activity pre{
  font-size: 14px;
}

.sites_info{
  text-align: center;
}
