
body{
  margin: 0;
}
.top-panel{
  padding-left: 13px;
  padding-right: 40px;
  height: 62px;
  border-bottom: solid 1px;
  background-color: #E5F1FF;
}

.top-panel .logo{
  display: inline-block;
  float: left;
}
.top-panel .logo h3{
  margin-top: 10px;
  margin-bottom: -18px;
}
.top-panel .nav{
  display: inline-block;
  float: right;
}

td{
  border: solid 1px;
}
table{
  border-collapse: collapse;
}

.logo-span-1{
  display: block;
  font-size: 20px;
  margin-top: -7px;
  margin-left: 16px;
}

.logo-span-2{
  display: block;
  margin-top: -48px;
  font-size: 15px;
  margin-left: 17px;
}

#modal_view_file .modal-content img{
    width:100%;
}

#modal_view_file .modal-content video{
    width:100%;
}
